- edit ||= false
- collapsed = false #session[:contact_extra].nil? # && @contact.errors.empty?
= subtitle :contact_extra, collapsed, t(:extra_info)
.section
  %small#contact_extra_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:extra_info_small)) unless edit
  #contact_extra{ hidden_if(collapsed) }
    = hook(:contact_extra_details_form, self, :f => f) do
      .row
        .col-md-6
          .form-group
            %label #{t :job_title}:
            = f.text_field :title, :class => 'form-control'
        .col-md-6
          .form-group
            %label #{t :department}:
            = f.text_field :department, :class => 'form-control'
      .row
        .col-md-6
          .form-group
            %label #{t :alt_email}:
            = f.text_field :alt_email, :class => 'form-control'
        .col-md-6
          .form-group    
            %label #{t :mobile}:
            = f.text_field :mobile, :class => 'form-control'
      .row
        .col-md-6
          = render "shared/n/address", :f => f, :asset => @contact, :type => 'business', :title => :address
        .col-md-6
          .form-group
            %label #{t :fax}:
            = f.text_field :fax, :class => 'form-control'
          .form-group
            .check_box
              = f.check_box :do_not_call, {}, true, :class => 'form-control'
              #{t :do_not_call}
