%section.content
  .row
    .col-md-3
      = cell(CRM::Contact::Panel, @model)
    .col-md-9
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#activity"} Activity
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#details"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#related"} Related
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#timeline"} Timeline
        .tab-content
          #activity.tab-pane.active
            = render "comments/n/new", :commentable => @model
            = render :partial => "shared/n/timeline", :collection => @timeline
          / /.tab-pane
          #timeline.tab-pane
            / The timeline
            = render :partial => "versions/n/versions", :locals => {:object => @model}
          / /.tab-pane
          #files.tab-pane
          #related.tab-pane
            = render :partial => "opportunities/n/opportunities", :locals => {:object => @model}
            = render :partial => "shared/n/tasks", :locals => {:object => @model}
          #detail.tab-pane
            
      / /.tab-pane
    / /.tab-content