%section.content
  .row
    .col-md-3
      =  concept('crm/contact/cell', @model).(:panel)
    .col-md-9
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#activity"} Activity
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#timeline"} Timeline
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tasks"} Tasks
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#opportunities"} Opportunities
        .tab-content
          #activity.tab-pane.active
            = render "comments/n/new", :commentable => @model
            = render :partial => "shared/n/timeline", :collection => @timeline
          / /.tab-pane
          #timeline.tab-pane
            / The timeline
            = render :partial => "versions/n/versions", :locals => {:object => @model}
          / /.tab-pane
          #files.tab-pane
            %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}/
            %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}/
            %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}/
            %img.margin{:alt => "...", :src => "http://placehold.it/150x100"}/
          #tasks.tab-pane
            = render :partial => "shared/n/tasks", :locals => {:object => @model}
          #opportunities.tab-pane
            -#= render :partial => "opportunities/n/opportunities", :locals => {:object => @model}

      / /.tab-pane
    / /.tab-content