- labels = %w(default primary success info warning danger)
.row
  .col-xs-12
    - Task.grouped.each do |bucket, tasks|
      .box
        .box-header
          %h3.box-title= bucket.humanize
        .box-body.table-responsive.no-padding
          %table.table.table-hover.table-condensed
            %th{width: 15}
            %th
            %th
            %th{width: 10}
            %th{width: 10}
            - tasks.each do |a|
              %tr
                %td.label.label-default{:class => labels[rand(0..5)]}= a.category.humanize
                %td
                  = link_to confirm_crm_task_path(a) do
                    %span.glyphicon.glyphicon-ok
                %td
                  = a.name
                  &#45;
                  %em{style: 'color:red;'}= a.computed_bucket.humanize
                %td
                  = button_to edit_crm_task_path(a), method: :get, class: "btn btn-default" do
                    %span.glyphicon.glyphicon-pencil
                %td
                  = button_to crm_task_path(a), confirm: 'Are you sure?', method: :delete, class: "btn btn-default" do
                    %span.glyphicon.glyphicon-remove